.color-palette {
  &-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }

    &:first-child {
      border-radius: 6px 6px 0 0;
    }
    &:last-child {
      border-radius: 0 0 6px 6px;
    }

    &-label {
    }

    &-value {
      transition: all 0.2s;
      opacity: 0;
      font-size: 12px;
    }
  }
}
