.arco-input-group {
  .arco-input-group-addbefore
    .arco-select.arco-select-single
    .arco-select-view {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .arco-input-group-addafter .arco-select.arco-select-single .arco-select-view {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .arco-input-group-addbefore + .arco-input-inner-wrapper-focus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .arco-input-inner-wrapper-focus:has(+ .arco-input-group-addafter) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.arco-input-inner-wrapper-has-prefix > .arco-input-clear-wrapper .arco-input,
.arco-input-inner-wrapper-has-prefix > .arco-input {
  padding-left: 8px;
}

/* .arco-input-group.arco-input-group-compact > .arco-select .arco-select-view, */
/* .arco-input-group.arco-input-group-compact > *, */
/* .arco-input-group.arco-input-group-compact > * .arco-input-group > :last-child, */
.arco-input-group.arco-input-group-compact > :first-child > .arco-select-view {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.arco-input-group.arco-input-group-compact > :last-child > .arco-select-view {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
