.gio-tour-target-placeholder {
  border-radius: var(--border-radius-large);
}

.gio-tour {
  position: absolute;
  display: block;
  visibility: visible;
  min-width: 248px;
  max-width: 600px;
  min-height: 120px;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.gio-tour-primary {
  .gio-tour-inner {
    background-color: rgb(var(--primary-6));
  }

  &.gio-tour-placement-top .gio-tour-arrow,
  &.gio-tour-placement-topLeft .gio-tour-arrow,
  &.gio-tour-placement-topRight .gio-tour-arrow {
    border-top-color: rgb(var(--primary-6));
  }
  &.gio-tour-placement-right .gio-tour-arrow,
  &.gio-tour-placement-rightTop .gio-tour-arrow,
  &.gio-tour-placement-rightBottom .gio-tour-arrow {
    border-right-color: rgb(var(--primary-6));
  }
  &.gio-tour-placement-left .gio-tour-arrow,
  &.gio-tour-placement-leftTop .gio-tour-arrow,
  &.gio-tour-placement-leftBottom .gio-tour-arrow {
    border-left-color: rgb(var(--primary-6));
  }
  &.gio-tour-placement-bottom .gio-tour-arrow,
  &.gio-tour-placement-bottomLeft .gio-tour-arrow,
  &.gio-tour-placement-bottomRight .gio-tour-arrow {
    border-bottom-color: rgb(var(--primary-6));
  }

  .gio-tour-close {
    color: var(--color-text-5);

    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  .gio-tour-header,
  .gio-tour-description {
    color: var(--color-white);
  }
  .gio-tour-indicator-number {
    color: rgba(255, 255, 255, 0.5);
  }
  .gio-tour-indicator {
    background-color: var(--color-white);
    opacity: 0.5;
  }
  .gio-tour-indicator-active {
    opacity: 1;
  }

  .gio-tour-prev-btn:not(.arco-btn-disabled):not(.arco-btn-loading) {
    color: var(--color-white);
    background-color: rgb(var(--primary-6));
    border-color: rgba(255, 255, 255, 0.15);

    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
  .gio-tour-next-btn:not(.arco-btn-disabled):not(.arco-btn-loading) {
    color: rgb(var(--primary-6));
    background-color: var(--color-white);

    &:hover,
    &:active {
      background-color: var(--color-fill-2);
    }
  }
}

.gio-tour-hidden {
  display: none;
}

.gio-tour-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.gio-tour-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.gio-tour-inner {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-bg-5);
  border-radius: var(--border-radius-large);
  position: relative;
  border: none;

  font-size: 14px;
  line-height: 22px;
}

.gio-tour-close {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--border-radius-circle);
  color: var(--color-text-2);

  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 16px;

  position: absolute;
  right: 16px;
  top: 16px;

  &:hover {
    background-color: var(--color-fill-2);
  }
  &:active {
    background-color: var(--color-fill-3);
  }
}

.gio-tour-header {
  color: var(--color-text-1);
  font-weight: 500;
}

.gio-tour-description {
  margin-top: 4px;
  word-wrap: break-word;
  color: var(--color-text-2);

  gap: 0;
  display: flex;
  flex-direction: column;
}

.gio-tour-footer {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gio-tour-indicators {
  flex: 1;
  display: flex;
  gap: 6px;
}

.gio-tour-indicator-number {
  color: rgba(5, 16, 37, 0.36);
  font-size: 12px;
  line-height: 20px;
}
.gio-tour-indicator {
  width: 6px;
  height: 6px;
  background-color: var(--color-fill-3);
  border-radius: var(--border-radius-circle);
  box-sizing: border-box;
  display: inline-flex;
}
.gio-tour-indicator-active {
  background-color: rgb(var(--primary-6));
}

.gio-tour-buttons {
  margin-left: 24px;
  display: flex;
  gap: 8px;
}

.gio-tour-placement-top,
.gio-tour-placement-topLeft,
.gio-tour-placement-topRight {
  padding: 5px 0 5px 0;
}
.gio-tour-placement-right,
.gio-tour-placement-rightTop,
.gio-tour-placement-rightBottom {
  padding: 0 5px 0 5px;
}
.gio-tour-placement-bottom,
.gio-tour-placement-bottomLeft,
.gio-tour-placement-bottomRight {
  padding: 5px 0 5px 0;
}
.gio-tour-placement-left,
.gio-tour-placement-leftTop,
.gio-tour-placement-leftBottom {
  padding: 0 5px 0 5px;
}

.gio-tour-placement-top .gio-tour-arrow,
.gio-tour-placement-topLeft .gio-tour-arrow,
.gio-tour-placement-topRight .gio-tour-arrow {
  bottom: 0;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}

.gio-tour-placement-top .gio-tour-arrow {
  left: 50%;
}

.gio-tour-placement-topLeft .gio-tour-arrow {
  left: 15%;
}

.gio-tour-placement-topRight .gio-tour-arrow {
  right: 15%;
}

.gio-tour-placement-right .gio-tour-arrow,
.gio-tour-placement-rightTop .gio-tour-arrow,
.gio-tour-placement-rightBottom .gio-tour-arrow {
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #fff;
}

.gio-tour-placement-right .gio-tour-arrow {
  top: 50%;
}

.gio-tour-placement-rightTop .gio-tour-arrow {
  top: 15%;
  margin-top: 0;
}

.gio-tour-placement-rightBottom .gio-tour-arrow {
  bottom: 15%;
}

.gio-tour-placement-left .gio-tour-arrow,
.gio-tour-placement-leftTop .gio-tour-arrow,
.gio-tour-placement-leftBottom .gio-tour-arrow {
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
}

.gio-tour-placement-left .gio-tour-arrow {
  top: 50%;
}

.gio-tour-placement-leftTop .gio-tour-arrow {
  top: 15%;
  margin-top: 0;
}

.gio-tour-placement-leftBottom .gio-tour-arrow {
  bottom: 15%;
}

.gio-tour-placement-bottom .gio-tour-arrow,
.gio-tour-placement-bottomLeft .gio-tour-arrow,
.gio-tour-placement-bottomRight .gio-tour-arrow {
  top: 0;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}

.gio-tour-placement-bottom .gio-tour-arrow {
  left: 50%;
}

.gio-tour-placement-bottomLeft .gio-tour-arrow {
  left: 15%;
}

.gio-tour-placement-bottomRight .gio-tour-arrow {
  right: 15%;
}
