.message-demo-animation-enter {
  opacity: 0;
}

.message-demo-animation-enter-active {
  opacity: 1;
  transition: opacity 1s linear;
}

.message-demo-animation-exit {
  opacity: 0;
}

.message-demo-animation-exit-active {
  opacity: 0;
  height: 0;
  transition: all 0.5s linear;
}
