.browserWindow {
  border: 3px solid #ebedf0;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1.25rem;
}

.browserWindowHeader {
  align-items: center;
  background: #ebedf0;
  display: flex;
  padding: 0.5rem 1rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  width: 10%;
}

.browserWindowAddressBar {
  flex: 1 0;
  margin: 0 1rem 0 0.5rem;
  border-radius: 12.5px;
  background-color: #fff;
  color: #444950;
  padding: 5px 15px;
  font:
    400 13px Arial,
    sans-serif;
  user-select: none;
}

[data-theme='dark'] .browserWindowAddressBar {
  color: #dadde1;
}

.dot {
  margin-right: 6px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.browserWindowMenuIcon {
  margin-left: auto;
}

.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

.browserWindowBody {
  background-color: #fff;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.browserWindowBody > *:last-child {
  margin-bottom: 0;
}
