.arco-picker-error:not(.arco-picker-disabled) {
  background-color: var(--color-bg-1);
  border-color: rgb(var(--danger-6));

  &:hover {
    background-color: var(--color-bg-1);
    border-color: rgb(var(--danger-7));
  }
}

.arco-picker-error.arco-picker-focused:not(.arco-picker-disabled),
.arco-picker-error.arco-picker-focused:not(.arco-picker-disabled):hover {
  border-color: rgb(var(--danger-6));
  background-color: var(--color-bg-1);
  box-shadow: 0 0 0 1px var(--color-danger-light-2);
}

.arco-picker-prefix {
  padding-right: 0;
}
