body {
  --gioorange-1: 255, 240, 232;
  --gioorange-2: 254, 215, 197;
  --gioorange-3: 254, 188, 162;
  --gioorange-4: 253, 159, 127;
  --gioorange-5: 253, 127, 92;
  --gioorange-6: 252, 95, 58;
  --gioorange-7: 208, 62, 36;
  --gioorange-8: 164, 36, 19;
  --gioorange-9: 120, 16, 7;
  --gioorange-10: 77, 4, 0;

  --skyblue-1: 232, 250, 255;
  --skyblue-2: 194, 239, 254;
  --skyblue-3: 157, 226, 253;
  --skyblue-4: 120, 210, 252;
  --skyblue-5: 83, 192, 251;
  --skyblue-6: 46, 171, 250;
  --skyblue-7: 29, 132, 207;
  --skyblue-8: 15, 97, 163;
  --skyblue-9: 6, 65, 120;
  --skyblue-10: 0, 37, 77;

  --color-fill-5: #2a2e35;
  --color-text-5: #ffffff;
}
