.arco-result-200,
.arco-result-401,
.arco-result-402,
.arco-result-403,
.arco-result-404,
.arco-result-500,
.arco-result-no-resource {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .arco-result-icon {
    margin-bottom: 20px;

    .arco-result-icon-tip {
      svg {
        width: 320px;
      }
    }
  }

  .arco-result-title {
    max-width: 320px;
    font-size: 18px;
    line-height: 26px;
  }

  .arco-result-subtitle {
    max-width: 320px;
    margin-top: 8px;
  }

  .arco-result-extra {
    margin-top: 20px;
  }
}
