import type { Meta, StoryObj } from '@storybook/react';
import React from 'react';
import { <%= className %> } from '../..';

const meta: Meta<typeof <%= className %>> = {
  component: <%= className %>,
  title: 'Base/<%= className %>',
};

export default meta;
type Story = StoryObj<typeof <%= className %>>;

export const Basic: Story = {
  args: {},
  render: (args, { intl: { formatMessage } }) => (<<%= className %> {...args} />)
};
