import type { Meta, StoryObj } from '@storybook/react';
import * as React from 'react';
import { FormattedMessage } from 'react-intl';
import <%= className %> from '..';
import '../style';

const meta: Meta<typeof <%= className %>> = {
  component: <%= className %>,
  title: 'Base/<%= className %>',
};

export default meta;
type Story = StoryObj<typeof <%= className %>>;

export const Basic: Story = {
  args: {},
  render: (args) => (<<%= className %> {...args} />)
};
