.arco-table-border {
  .arco-table-container {
    border-radius: 4px;
  }

  .arco-table-container::before {
    display: none;
  }

  table tbody:not(:has(+ tfoot)) tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }
  table tbody:not(:has(+ tfoot)) tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }

  table tbody + tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  table tbody + tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }

  .arco-table-body {
    .arco-table-tr:last-child {
      .arco-table-td:first-child {
        border-bottom-left-radius: 4px;
      }
      .arco-table-td:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.arco-table-expand-content {
  .arco-table-td {
    .arco-table {
      margin: 8px 0;

      .arco-table-container {
        border-right: 1px solid #e4e5e8;
        border-top: 1px solid #e4e5e8;
      }
    }
  }
}

.arco-table-no-data {
  .arco-empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
